.article-preview {
    padding: 30px 10px;
}

.preview-image {
    width: 1000px;
}

.preview-text {
    width: 65%;
    margin: 0 auto;
}

span {
    font-weight: 570;
}

@media screen and (max-width: 1023px) {
    .preview-image {
        width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .preview-image {
        width: 400px;
    } 
}